.headerContainer {
    height: 5rem;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
}

.headerContent {
    max-width: 1120px;
    height: 5rem;
    margin: 0 auto;

    display: flex;
    align-items: center;

    nav {
        margin-left: 5rem;
        height: 5rem;

        a {
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            height: 5rem;
            letter-spacing: 1px;
            line-height: 5rem;
            color: var(--gray-900);

            transition: color 0.2s;

            &:hover {
                font-weight: 600;
            }

            &.active {
                font-weight: bold;
            }

            &.active::after {
                content: '';
                height: 3px;
                border-radius: 3px 3px 0 0;
                width: 100%;
                position: absolute;
                bottom: 1px;
                left: 0;
                background: var(--yellow-500);
            }
        }
    }

    button {
        margin-left: auto;
    }
}